* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center; 
    line-height: 55px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

h5 {
    font-size: 20px;
}

.contact > h2 {
    margin-bottom: 30px;
}

main {
    margin: 0 20px;
}

header {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 69px;
}

header > div {
    display: inline-block;
}

.logo {
    float: left;
    height: 50px;
    margin: 10px;
}

.logo > img {
    height: 100%;
    width: auto;
}

.options {
    float: right;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.options > li {
    display: inline-block;
    margin-right: 30px;
}

.image {
    width: 300px;
}

.image > img {
    width: 100%;
    height: 200px;
}

.images {
    width: 1200px;
    margin: 0 auto;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
    background: none;
}

.image {
    margin: 10px;
}

.jumbotron {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/img-mission-background.webp');
    margin-bottom: 40px;
}

.title {
    width: 100%;
}

.locations {
    height: 500px;
    background-image: url('img/img-locations-background.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations-title {
    background: none;
    font-weight: bold;
}

.location {
    opacity: 1;
    background: black;
    width: 300px;
    margin: 15px 20px;
}

.copyright {
    text-align: left;
    margin-left: 20px;
}